@using Components 

<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        @onclick="ToggleNavMenu"
    >
        <a class="navbar-toggler-icon"></a>
    </button>

    <ul class="nav navbar-nav ml-auto">
        <li>
            <AuthorizeView>
                <Authorized>
                    <div style="display: inline-flex">
                        <form method="post" action="Identity/Account/LogOut">
                            <button 
                               type="submit"
                               class="btn btn-outline-light"
                            >Log out</button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <a 
                       href="Identity/Account/Register" 
                       type="button" 
                       class="btn btn-outline-light"
                    >Register
                    </a>
                    <a 
                       href="Identity/Account/Login" 
                       type="button" 
                       class="btn btn-outline-light"
                    >Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </li>
    </ul>
</nav>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [Parameter]
    public EventCallback OnWriteClick { get; set; }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
