@using System.Collections.Generic
@using edu_croaker.Data.Dtos
@using edu_croaker.Services

@inject CroakService CroakSrv
@implements IDisposable

@namespace Components 

<div class="card"> 
    <div class ="card-body">
        <h5>Trending</h5>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var htPopularity in hashtagPopularities)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/byHashtag/@htPopularity.Caption">
                    #@htPopularity.Caption
                </a>
                <span class="badge badge-light badge-pill">@htPopularity.HitCount</span>
            </li>
        }
    </ul>
</div>

@code {
    private IEnumerable<HashtagPopularityDto> hashtagPopularities = new List<HashtagPopularityDto>();
    
    protected override async Task OnInitializedAsync()
    {
        CroakSrv.NotifyOnChange += OnChange;
        FetchPopularHashtags();
    }

    public async Task OnChange()
    {
        FetchPopularHashtags();
    }

    protected void FetchPopularHashtags()
    {
        hashtagPopularities = CroakSrv.GetPopularHastags();
        StateHasChanged();
    }

    public void Dispose()
    {
        CroakSrv.NotifyOnChange -= OnChange;
    }
}