
@using edu_croaker.Dtos
@namespace Components

<div class="d-flex justify-content-between align-items-center">
    <a href="/byUser/@User?.Username">
        @@@User?.Username
    </a>
    <FollowBtnContainer UserId="@User?.UserId" />
</div>

@code {
    [Parameter]
    public PublicUserData User { get; set; }
}
