@namespace Components

<div class="row">
    <LeftPanel />
    <MainPanel>
        @ChildContent
    </MainPanel>
    <RightPanel />
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
