@namespace Components

<style>
    .croak-content {
        max-width: 400px;
        overflow-wrap: break-word;
    }

    .sharing {
        font-size: 11px;
    }

    .hashtags {
        padding-top: 5px;
    }
</style>

<div class="card">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p class="croak-content">@CroakData.Content</p>
            <footer class="blockquote-footer text-muted">
                <small>
                    by 
                    <cite title="Source Title"><a href="#">@CroakData.Author</a></cite>  |
                </small>
                <a @onclick="OnPressShare" class="badge badge-light sharing">
                    @CroakData.Shares
                    <i class="material-icons sharing">share</i>
                </a>
                <a @onclick="OnPressLike" class="badge badge-light sharing">
                    @CroakData.Likes
                    <i class="material-icons sharing">thumb_up</i>
                </a>
            </footer>
        </blockquote>
        <div class="hashtags"> 
            @foreach (var hashtag in CroakData.Hashtags)
            {
                <span href="#" class="badge badge-pill badge-secondary">#@hashtag</span>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public edu_croaker.Data.Croak CroakData { get; set; }

    void OnPressShare()
    {
        CroakData.Shares += 1;
    }

    void OnPressLike()
    {
        CroakData.Likes += 1;
    }
}