@using edu_croaker.Dtos 
@using edu_croaker.Services

@inject CroakService CroakSrv 
@namespace Components

<style>
    .croak-content {
        overflow-wrap: break-word;
    }

    .croak-icon {
        font-size: 11px;
    }

    .croak-icon-mid {
        font-size: 15px;
    }

    .hashtags {
        padding-top: 5px;
    }

    .rm {
        padding-top: 7px;
        padding-right: 7px;
    }
</style>

<div class="card flex-row">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p class="croak-content">@CroakData.Content</p>
            <footer class="blockquote-footer text-muted">
                <small>
                    by 
                    <cite title="Source Title"><a href="/byUser/@CroakData.AuthorName">@CroakData.AuthorName</a></cite>  |
                </small>
                <a @onclick="OnPressShare" class="badge badge-light croak-icon pointer no-select">
                    @CroakData.SharesCount
                    <i class="material-icons croak-icon">share</i>
                </a>
                <a @onclick="OnPressLike" class="badge badge-light croak-icon pointer no-select">
                    @CroakData.LikesCount
                    <i class="material-icons croak-icon">thumb_up</i>
                </a>
            </footer>
        </blockquote>
        <div class="hashtags"> 
            @foreach (var hashtag in CroakData.Hashtags)
            {
                <a href="/byHashtag/@hashtag" class="badge badge-pill badge-light">#@hashtag</a>
            }
        </div>
    </div>
    <div class="rm">
        <a 
            @onclick="Remove"
            type="button" 
            class="close" 
            aria-label="Delete"
        >
            <span class="material-icons croak-icon-mid">delete_forever</span>
        </a>
    </div>
</div>

@code {
    [Parameter]
    public CroakDto CroakData { get; set; }

    void OnPressShare()
    {
        CroakData.SharesCount += 1;
    }

    void OnPressLike()
    {
        CroakData.LikesCount += 1;
    }

    private void Remove()
    {
        CroakSrv.RemoveCroakAsync(CroakData.Id);
    }
}