@namespace Components

<style>
    .mat-card {
        max-width: 500px
    }

    .mat-card-content {
        padding: 1rem
    }

    .mat-card-clean-margin {
        margin: 0px
    }

    .mat-card-actions {
        width: 100%;
        float: right;
    }
</style>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@CroakData.Author</h5>
        <p class="card-text">@CroakData.Content</p>
    </div>
    <div class="card-body">
        <button @onclick="OnPressShare" class="btn btn-link">
            @CroakData.Shares
            <i class="material-icons">share</i>
        </button>
        <button @onclick="OnPressShare" class="btn btn-link">
            @CroakData.Shares
            <i class="material-icons">thumb_up</i>
        </button>
    </div>
</div>

@code {
    [Parameter]
    public edu_croaker.Data.Croak CroakData { get; set; }

    void OnPressShare()
    {
        CroakData.Shares += 1;
    }
}