
@using System.Collections.Generic
@using Microsoft.AspNetCore.Identity
@using AspNetCore.Identity.LiteDB.Models
@using edu_croaker.Dtos
@using edu_croaker.Services

@inject UserService UserSrv
@inject UserManager<ApplicationUser> UserMgr

@namespace Components

<div class="card">
    <div class="card-body">
        <h5>Discover</h5>
    </div>

    <ul class="list-group list-group-flush">
        @foreach (var user in UsersToDiscover)
        {
            <li class="list-group-item">
                <FollowUser User="@user"/>
            </li>
        }
    </ul>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private IEnumerable<PublicUserData> UsersToDiscover = new List<PublicUserData>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;

        UsersToDiscover = await UserSrv.GetUsersToDiscover(UserMgr.GetUserId(authState.User));
    }
}
