@using System.Collections.Generic
@using edu_croaker.Data.Dtos

@namespace Components

<table style="width: 100%">
    @foreach (var item in Items)
    {
        <tr>
            <td>
                <Croak CroakData=@item />
            </td>
        </tr>
    }
</table>


@code {
    [Parameter]
    public IEnumerable<CroakDto> Items { get; set; }
}