@using System.Collections.Generic
@using edu_croaker.Dtos

@using Components

<table style="margin-left: auto; margin-right: auto;">
    @foreach (var item in Items)
    {
        <tr>
            <td style="padding-top: 30; padding-botoom: 30">
                <Croak CroakData=@item />
            </td>
        </tr>
    }
</table>


@code {
    [Parameter]
    public IEnumerable<CroakDto> Items { get; set; }
}