@page "/"
@page "/byHashtag/{Hashtag:int}"
@page "/byUser/{User:int}"

@using Components

<div class="container">
    <AuthorizeView>
        <Authorized>
            <div class="row">
                <div class="col-3">
                    <div class="sticky-side-bar">
                        <Profile />
                    </div>
                </div>
                <div class="col-5">
                    <WriteCroak />
                    @if (@Hashtag > 0)
                    {
                        <Croaks Hashtag="@Hashtag" />
                    }
                    else
                    {
                        <Croaks />
                    }
                </div>
                <div class="col-3">
                    <div class="sticky-side-bar">
                        <Popular />
                        <div style="margin-top: 5px">
                            <Discover />
                        </div>
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <Login/>
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {
    [Parameter]
    public int Hashtag { get; set; }

    [Parameter]
    public int User { get; set; }
}