@page "/"
@using Components

<div class="container">
    <AuthorizeView>
        <Authorized>
            <div class="row">
                <div class="col-3">
                    <Profile />
                </div>
                <div class="col-5">
                    <WriteCroak />
                    <Croaks />
                </div>
                <div class="col-3">
                    <Popular />
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <Login/>
        </NotAuthorized>
    </AuthorizeView>
</div>
