@page "/login"
@using Microsoft.AspNetCore.Components
@using edu_croaker.Services
@using edu_croaker.Data.Dtos 
@inject NavigationManager NavigationManager
@inject UserService UserSrv 

<style>
    .full-card {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url("https://wallpaperbro.com/img/53299.jpg");
        background-size: cover;
        background-position: center;
    }
    
    .left-side {
        width: 50%;
        position: absolute;
        left: 0px;
        height: 100%;
    }

    .right-side {
        width: 50%;
        position: absolute;
        right: 0px;
        height: 100%;
    }

    .landing-desc {
        margin-top: 15%;
        margin-left: 5%;
        color: #ffffff;
    }

    .landing-title {
        font-size: 160px;
        font-weight: bold;
    }

    .landing-subtitle {
        font-size: 60px;
    }

    .login {
        width: 40%;
        margin: auto;
        margin-top: 20%;
    }

</style>

<div class="full-card">
    <div>
        <div class="left-side text-dark">
            <div class="card-img-overlay landing-desc">
                <h3 class="landing-title">Croaker</h3>
                <h5 class="landing-subtitle">Discover ideas from all around the world.</h5>
                <a href="Identity/Account/Register"
                   type="button"
                   class="btn btn-outline-light"
                >Register
                </a>
                <a href="Identity/Account/Login"
                   type="button"
                   class="btn btn-outline-light"
                >Log in
                </a>
            </div>
        </div>
    </div>
</div>