@page "/users"

@using System.Collections.Generic
@using edu_croaker.Dtos
@using edu_croaker.Services

@inject UserService UsersSrv
@using Components

<table>
    @foreach (var user in users)
    {
        <li class="list-group-item">
            <FollowUser User="@user" />
        </li>
    }
</table>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private IEnumerable<PublicUserData> users = new List<PublicUserData>();

    protected override async Task OnInitializedAsync()
    {
        FetchUsers();
    }

    protected async Task FetchUsers()
    {
        var authState = await AuthenticationStateTask;

        users = await UsersSrv.GetUsersToDiscover(authState.User.Identity.Name);
        StateHasChanged();
    }
}
