@namespace Components

<div class="alert alert-primary" role="alert">
    @ChildContent
    <a href="/" class="float-right">Clear</a>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
