@using Components 

<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="">
      <img src="https://image.flaticon.com/icons/svg/1065/1065555.svg" width="30" height="30" alt="">
  </a>
    <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        @onclick="ToggleNavMenu"
    >
        <a class="navbar-toggler-icon"></a>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" data-toggle="modal" data-target="#write-modal">Write</a>
        </li>
    </ul>
  </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [Parameter]
    public EventCallback OnWriteClick { get; set; }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
