@using Components 

<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="">
      <img src="https://image.flaticon.com/icons/svg/1065/1065555.svg" width="30" height="30" alt="">
  </a>
    <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        @onclick="ToggleNavMenu"
    >
        <a class="navbar-toggler-icon"></a>
    </button>

    <ul class="nav navbar-nav ml-auto">
        <li>
            <a type="button" href="login" class="btn btn-outline-light">
                Sign in
            </a>
        </li>
    </ul>
</nav>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [Parameter]
    public EventCallback OnWriteClick { get; set; }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
